.charDureeSession{
    background-color: red;
    width: 258px;
    height: 263px;
    border-radius: 5px;
    position: relative;
}

.lineTitre{
    position: absolute;
    top: 29px;
    left: 34px;
    font-size: 15px;
    color: white;
    width: 140px;
    opacity: 0.5;
}