.content{
    position: absolute;
    top: 130px;
    left: 170px;
    width: calc(100vw - 170px);
    height: calc(100% - 130px);
}

.titre{
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 100%;
    height: auto;
}


.contentWelcome{
    font-size: 48px;
    font-weight: 500;
    width: 100%;
    height: auto;
    span{
        color: red;
    }
}

.contentGG{
    font-weight: 400;
font-size: 18px;
}

.contentGraphique{
    width: 100%;
    height: 100%;
}


.contentActiviteQuotidienneTitre{
    position: absolute;
    top: 24px;
    left: 32px;
}


.groupChart{
    width: 840px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.groupCard{
    height: 613px;
    width: 258px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.groupChartCard{
    margin-top: 50px;
    width: 1128px;
    display: flex;
    flex-direction: row;
}
